.header-contacts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    align-content: stretch;
	background-color: rgb(0,117,191);
	padding-left: 50px;
}

.adress, .email, .phonenumber, .lang, .mail, .tel, .vkfb, .recall, .recall>a {
	font-family: 'Roboto', sans-serif;
	color: white;
	margin: auto;
	padding-bottom: 10px;
	justify-content: space-around;
}

.fa-map-marker:before, .fa-envelope-o:before, .fa-mobile:before {
	font-size: 30px;
}



.email {
	border-left: 1px solid rgb(53,156,220);
	border-right: 1px solid rgb(53,156,220);
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;  
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: : 0px;
}

.adress {
	margin-right: 40px;
}

.phonenumber {
	margin-left: 40px;
}

element.style {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-default {
    color: #333;
    background-color: rgb(0,117,191);
    border-color: rgb(53,156,220);
    color: #f5f2f2;
}


.btn {
	border-radius: 0px;
}

.btn:hover {
  background-color:  rgb(255,222,0);
}


.btneng {
	padding-left: 7px;
    padding-right: 7px;
}

.logo {
	height: 115px;
	background-color: rgb(241,241,241);
	color: rgb(0,117,191);
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	font-size: 45px;
	text-transform: uppercase;
	padding-top: 30px;
	text-align: center;

}

.menu {
	height: 50px;
	background-color: rgb(248,248,248);

}


.glav, .glav1 {
	border-left: 1px solid rgb(229,229,229);
	height: 50px;
	padding-left: 50px; 
	padding-right: 50px;

}

.glav2 {
	border-left: 1px solid rgb(229,229,229);
	border-right: 1px solid rgb(229,229,229);
	height: 50px;
	padding-left: 50px; 
	padding-right: 50px;

}

.collapse li:hover {
	border-bottom: 5px solid rgb(255,222,0); 
    
}

.container-fluid {
	margin-left: 18%;
	}


.secondslider {
	height: 408px;
	background: rgb(246, 246, 246);
    background: -moz-linear-gradient(90deg, rgb(246, 246, 246) 30%, rgb(233, 233, 233) 70%);
    background: -webkit-linear-gradient(90deg, rgb(246, 246, 246) 30%, rgb(233, 233, 233) 70%);
    background: -o-linear-gradient(90deg, rgb(246, 246, 246) 30%, rgb(233, 233, 233) 70%);
    background: -ms-linear-gradient(90deg, rgb(246, 246, 246) 30%, rgb(233, 233, 233) 70%);
    background: linear-gradient(180deg, rgb(246, 246, 246) 30%, rgb(233, 233, 233) 70%);
}

.secondslider>h2 {
	text-transform: uppercase;
	color: rgb(255,204,0);
	text-align: center;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bxslider2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 250px;
}

.bxslider2>li{
	margin-left: 5px;
	-webkit-box-shadow: 30px 30px 9px -26px rgba(50, 50, 50, 0.6);
-moz-box-shadow:    30px 30px 9px -26px rgba(50, 50, 50, 0.6);
box-shadow:         30px 30px 9px -26px rgba(50, 50, 50, 0.6);
}


.partner1 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: stretch;
	padding-bottom: 30px;

	
}

.partner>h2 {
	text-transform: uppercase;
	color: rgb(255,204,0);
	text-align: center;
	padding-bottom: 20px;
	padding-top: 10px;
}


.partner1>div {
	width: 200px;
	height: 200px;
	border: 1px solid rgb(229,229,229);
	

}


.partner1>div>img {
	filter: grayscale(100%);  /*https://www.w3schools.com/cssref/css3_pr_filter.asp*/
    display: block;
    margin: auto;
    padding-top: 20px;
}

.partner1>div>img:hover {filter: none;}



.electrovoz {
	text-align: center;
	padding-top: 10px;
}

.electrovoz>img {
	padding-bottom: 25px;
}

.krruda {
	text-align: center;
}

.arcelor {
	text-align: center;
	padding-top: 30px;}

.arcelor>img {
	padding-bottom: 15px;
} 

.pavlograd {
	text-align: center;
	padding-top: 35px;
}

.pavlograd>img {
	padding-bottom: 30px;
}

.metinvest {
	text-align: center;
	padding-top: 50px;
}

.metinvest>img {
	padding-bottom: 55px;
}

.zgrk {
	text-align: center;
}

.fa-chevron-right {
	 margin-left: 1300px;
}

.footer {
	height: auto;
	background-image: url(../images/footer.png);
	
}
.footer1 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: stretch;
	background-color: rgba(0,117,191,0.5);
	padding-top: 25px;
	padding-bottom: 12px;
	
}

.footer1 .fa-envelope-o:before, 
.fa-phone:before, 
.fa-vk:before,
.fa-facebook-official:before  {
	font-size: 20px;
}

.recall>a {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: white;
	margin: auto;

}

.mail, .tel, .vkfb, .recall {
	justify-content: space-around;
}

.bx-controls-direction>a, .bx-pager-item>a {display: none;}

.fa-search{
  color: #fff;
  font-size: 150px !important;
  margin: 50px 0;
}
.bxslider2>li>img {
  position: absolute;
} 
.zoom {
  background-color: rgba(0,117,191, 0.5);
  display: none;
  height: inherit;
  width: 100%;
  text-align: center;
}

.bxslider2 li:hover .zoom {
  position: relative;
  display: block;
}

.bx-wrapper{margin:0 auto;}









